/**
 * Created by sam on 28.10.2016.
 */

.datavisyn-anatomogram {
  .datavisyn-default {
    fill: rgba(0, 0, 0, 0.5);
    stroke: none;
  }
  .datavisyn-selected {
    fill: orange;
    opacity: 0.5;
  }
  .datavisyn-hovered {
    fill: orange;
    opacity: 1;
  }

  a[id*="_ccLogo"] {
    transform: translate(50%, 90%) scale(.7);
  }
}
